apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloapp
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    spec:
      containers:
        - name: helloapp
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
